numpy
pandas
scipy
matplotlib
plotly
scikit-learn
seaborn
statsmodels
boruta
imblearn
catboost
xgboost
optuna
shap
category-encoders
pandas-profiling

jupyterlab==3.6.8
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
jupyterlab-widgets
jupyterlab-sublime
jupyterlab-materialdarker
